version: "3.9"

services:
  danmu-mysql:
    image: mysql:8.0
    container_name: danmu-mysql
    environment:
      MYSQL_ROOT_PASSWORD: init0925
    volumes:
      - ./mysql:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - danmu-net
    command: --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    restart: unless-stopped

  danmu-php:
    build:
      context: .
      dockerfile: Dockerfile.php
    container_name: danmu-php
    command: >
      sh -c "
        sleep 10 &&
        composer install &&
        sh ./scripts/init_project.sh >> /var/log/init_project.log 2>&1 &&
        crond &&
        tail -f /dev/null
      "
    volumes:
      - ./php:/var/www/bilibili_danmu
    networks:
      - danmu-net
    expose:
      - "7776"
    depends_on:
      danmu-mysql:
        condition: service_healthy
    restart: unless-stopped

  danmu-nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: danmu-nginx
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./php:/var/www/bilibili_danmu
    ports:
      - "7777:80"
      - "5177:5176"
    networks:
      - danmu-net
    depends_on:
      - danmu-php
    restart: unless-stopped

  danmu-redis:
    image: redis:latest
    container_name: danmu-redis
    networks:
      - danmu-net
    restart: unless-stopped

networks:
  danmu-net:
    driver: bridge
